.main {
    margin: 20px;
}

.main__subtitle {
    padding: 30px 30px;
    max-width: 100%;
    font-size: 18px;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 0px;
}

.main__subtitle--lower{
    font-size: 20px;
}
.main__div {
    max-width: 100%;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 0px;
}

.main__div--minHeight {
    min-height: 120px;
}
.main__button{
    background-color: white;
    color: hsl(180, 100%, 25%);
    text-align: center;
    border: none;
    max-height: 40px;

}

.main__button:hover{
    color: hsl(180, 100%, 35%);
}
.main__button:active{
    color: hsl(180, 100%, 45%);
    border: 2px solid black;
    margin: -2px;
}
.main__subtitle--grid{
    display: grid;
    grid-template-columns:  1fr auto auto;
    grid-gap: 20px;
    align-items: center;      
}